.navigation_wrapper {
  background: #f9f9f9;
  .container {
    padding: 50px 100px 0px;
    max-width: 1440px;
    .title {
      border-left: 6px solid #1766ff;
      padding-left: 20px;
      max-width: 1240px;
      .text_variant_2 {
        font-size: 3.2vw;
      }
      .text_variant_3 {
        font-size: 2.3vw;
      }
    }
    .navigation {
      display: flex;
      align-items: center;
      column-gap: 12px;
      margin-bottom: 44px;
      .text_variant_1_normal_navigation {
        font-size: 2vw;
      }
    }
  }
}

.history_wrapper {
  background: #f9f9f9;
  .container {
    padding: 50px 100px 100px;
    max-width: 1440px;
  }
}
