.footer_wrapper {
  background: #0e44ab;
  .container {
    padding: 50px 100px;
    max-width: 1440px;
    .footer_item {
      padding: 16px 10px;
    }
  }
  .bottom_wrapper {
    background: #170071;
    .container {
      padding: 16px 10px;
    }
  }
}
