.navigation_wrapper {
  background: #f9f9f9;
  .container {
    padding: 50px 100px 0px;
    max-width: 1440px;
    .title {
      border-left: 6px solid #1766ff;
      padding-left: 20px;
      max-width: 1240px;
    }
    .navigation {
      display: flex;
      align-items: center;
      column-gap: 12px;
      margin-bottom: 44px;
    }
  }
}

.state_single_wrapper {
  background: #f9f9f9;
  .container {
    padding: 50px 0px 100px;
    max-width: 1240px;
    .item_image_big {
      width: 820px;
      height: 474px;
      border-radius: 26px;
      object-fit: cover;
    }
    .state_single_item {
      margin-bottom: 32px;
      .img {
        width: 821px;
        height: 418px;
        border-radius: 36px;
        margin-bottom: 36px;
      }
    }
    .text_variant_1-5 {
      color: #3277fd;
      font-weight: 500;
    }

    .state_single_sidebar {
      .catgory_title {
        padding: 20px 24px;
        border-radius: 16px;
        background: #fff;
        .text {
          color: var(--brand-color-main-color, #0e44ab);
          font-family: "Inter-Medium", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          text-align: center;
        }
      }
      .categories {
        padding: 6px 24px;
        border-radius: 16px;
        background: #fff;
      }

      .categories .text {
        color: #011948;
        font-family: "Display-Regular", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding: 16px 10px;
        cursor: pointer;
        user-select: none;
        border-radius: 16px;
        border-bottom: 1px solid var(--border-colors-border-2, #f2f4f7);
        &:hover {
          background: #f2f4f7;
        }
      }

      .categories .text:last-child {
        border-bottom: none;
      }
    }
  }
}
