.navigation_wrapper {
  background: #f9f9f9;
  .container {
    padding: 50px 100px 0px;
    max-width: 1440px;
    .title {
      border-left: 6px solid #1766ff;
      padding-left: 20px;
      max-width: 1240px;
    }
    .navigation {
      display: flex;
      align-items: center;
      column-gap: 12px;
      margin-bottom: 44px;
    }
  }
}
.videos_wrapper {
  background: #f9f9f9;
  .container {
    padding: 50px 0px 100px;
    max-width: 1240px;
    .videos_item {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      .video {
        width: 400px;
        height: 263px;
        border-radius: 26px;
      }
      .text_variant_1-5 {
        color: #121926;
      }
    }
  }
}
